<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
        <!-- <link rel="stylesheet" href="{{url_for('static',filename='css/backup.css')}}"> -->
        <link rel="stylesheet" href='static\css\backup.css'>
    </head>
    <body>
        <div id="main-div" class="container">
          
                
                    <!-- <div id="back">
                        <input id="button1" type="button" class="right" value="BACK" onclick="history.go(-1)">
                    </div> -->
                    <div class="header" >
                        <h1 class="text">FAKE NEWS DETECTION</h1>
                        <h3 class="text">Predict the probability that news is fake or real</h2>
                    </div>
                
                <!-- <img src="\static\css\logo.png" alt="logo" class="img-logo"> -->
         
            <div class="body">
                <!-- <div class=""> -->
                    <div>
                        <h2 class="item">{{pred}}</h2>
                    </div>
                    <br>
                    <div>
                        <img class="item" src="\static\images\plot.png" alt="graph">
                    </div>    
                </div>
            </div>
        </div>
    </body>
</html>